.cart {
  padding: 40px 60px;
  max-width: 1000px;
  margin: auto;
}

.cart h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.cart-table th,
.cart-table td {
  padding: 14px 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.cart-table th {
  background: #f8f8f8;
  font-weight: 600;
}

.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
}

.quantity button {
  padding: 4px 10px;
  margin: 20px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.quantity button:hover {
  background: #ff6b00;
  color: #fff;
}

.remove-icon {
  color: #d9534f;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.remove-icon:hover {
  color: #b52b27;
}

.cart-summary {
  text-align: right;
}

.cart-summary h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

.checkout-btn {
  background: #ff6b00;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.checkout-btn:hover {
  background: #e55c00;
}
