.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 70px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  width: 75px;
  height: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar-menu li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-menu li:hover {
  color: #ff6600; /* đổi màu khi hover */
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #ff6600;
}

.signin-btn {
  background: transparent; 
  font-size: 16px;
  color: black;
  border: 1px solid tomato; 
  padding: 10px 30px; 
  border-radius: 50px;
   cursor: pointer; 
   transition: 0;
}

.signin-btn:hover {
  background: #e65c00;
}
.navbar-menu li.active {
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}